.close-btn {
    background-color: transparent;
    border: none;
}

.img-game {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

img {
    border-radius: 50px;
    width: 75px;
    height: 75px;
}

ul {
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 400px;
}

h5 {
    display: inline-block;
    margin-left: 10px;
}

h4 {
    float: right;
    margin-top: 22px;
    margin-right: 30px;
}