<div style="float: right; margin-right: 20px; margin-top: 10px;">
    <div *ngIf="lobby && !isDetailedVisible">
        <button class="btn btn-info" style="height: 38px;" (click)="isDetailedVisible = !isDetailedVisible">
            <i class="fa fa-users"></i>
            <p style="display: inline-block; margin-left: 10px">{{lobby.users.length}}</p>
        </button>
    </div>
    <div *ngIf="lobby && isDetailedVisible" class="outer">
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="isDetailedVisible = false">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
        <div style="margin-left: 150px;">
            <h4>{{lobby.lobbyName}}</h4>
        </div>
        <ul style="list-style-type: none; margin-top: 5px; display: table-cell;">
            <li *ngFor="let lobbyUser of lobby.users">
                <app-lobbyUser-card [lobbyUser]="lobbyUser" [lobbyCreatorName]="lobby.lobbyCreator.username" />
            </li>
        </ul>
        <button class="btn btn-danger" style="position: relative; left: 42%; bottom: 5px;" (click)="leaveLobby()">{{(accountService.currentUser$ | async)?.username ===
            lobby.lobbyCreator.username ? 'Delete' : 'Leave'}}</button>
        <button class="btn btn-info" *ngIf="lobby.pendingConnections.length > 0"
            style="position: relative; left: 300px; top: -4px;" (click)="openRequestsModal()"><i
                class="fa fa-user-plus"></i></button>
    </div>
    <div *ngIf="!lobby">
        <button class="btn btn-info" (click)="openLobbyModal()"><i class="fa fa-users"></i></button>
    </div>
</div>