<div class="main-outer">
    <div class="account">
        <div class="outer" style="margin-top: 100px; margin-left: 40px; margin-bottom: 50px;">
            <div style="margin-left: 15px; margin-top: 30px; margin-right: 15px; margin-bottom: 20px;">
                <tabset [justified]="true">
                    <tab heading="Sign In">
                        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off" class="mt-2">
                            <div style="margin-left: 120px">
                                <app-text-input [formControl]="$any(loginForm.controls['username'])"
                                    [placeholder]="'Enter your name...'" [label]="'Username'"></app-text-input>
                                <app-text-input [formControl]="$any(loginForm.controls['password'])"
                                    [placeholder]="'Enter your password...'" [label]="'Password'"
                                    [type]="'password'"></app-text-input>
                                <button [disabled]="!loginForm.valid" class="btn btn-success mt-3"
                                    style="margin-left: 120px;" type="submit">Sign
                                    In</button>
                            </div>
                        </form>
                    </tab>
                    <tab heading="Sign Up">
                        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off" class="mt-2">
                            <div style="float: left;">
                                <div class="avatar-container">
                                    <img class="avatar" src="https://i.imgur.com/qRs0eyR.png" alt="user photo">
                                    <button class="btn btn-secondary avatar-btn"><i
                                            class="fa fa-ellipsis-h"></i></button>
                                    <button class="btn btn-secondary avatar-btn" style="margin-left: 80px;"><i
                                            class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                            <div style="overflow: hidden; margin-left: 15px;">
                                <app-text-input [formControl]="$any(registerForm.controls['username'])"
                                    [placeholder]="'Come up with your future name...'"
                                    [label]="'Username'"></app-text-input>
                                <app-text-input [formControl]="$any(registerForm.controls['password'])"
                                    [placeholder]="'Create your password...'" [label]="'Password'"
                                    [type]="'password'"></app-text-input>
                                <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
                                    [placeholder]="'Confirm your password...'" [label]="'Confirmation password'"
                                    [type]="'password'"></app-text-input>
                                <button [disabled]="!registerForm.valid" class="btn btn-success mt-3"
                                    style="margin-left: 80px;" type="submit">Create
                                    account</button>
                            </div>
                        </form>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>