.outer {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    width: 600px;
}

.main-outer {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.account {
    margin: 10px;
}

.avatar {
    border-radius: 250px;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.avatar-container {
    position: relative;
}

.avatar-container img {
    height: auto;
}
.avatar-container .avatar-btn {
    position: absolute;
    cursor: pointer;
    margin-top: 115px;
    left: 10%;
    border-radius: 100px;
  }