<div class="outer">
    <div class="account">
        <tabset>
            <tab heading="Sign In">
                <input type="text" placeholder="Enter your name...">
                <input type="password" placeholder="Enter your password...">
                <button class="btn btn-succes" type="submit">Sign In</button>
            </tab>
            <tab heading="Sign Up">
                <input type="text" placeholder="Come up with your future name...">
                <input type="password" placeholder="Create your password...">
                <input type="password" placeholder="Confirm your password...">
                <button class="btn btn-succes" type="submit">Create account</button>
            </tab>
        </tabset>
    </div>
</div>