<div class="modal-header">
    <h3>Approve user join requests</h3>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul style="list-style-type: none;">
        <li *ngFor="let connection of pendingConnections" style="margin-top: 10px;">
            <div style="float: left;">
                <h6 style="margin-top: 10px;">{{connection}}</h6>
            </div>
            <div>
                <button class="btn-act btn btn-success" style="margin-left: 10px;"
                    (click)="approveUserJoin(connection, true)"><i class=" fa fa-check"></i></button>
                <button class="btn-act btn btn-danger" style="margin-left: 5px;"
                    (click)="approveUserJoin(connection, false)"><i class="fa fa-trash"></i></button>
            </div>
        </li>
    </ul>
</div>